[submodule ".registry"]
	path = .registry
	url = https://github.com/facilebio/universe
	shallow = true
	branch = HEAD
[submodule "FacileData"]
	path = FacileData
	url = https://github.com/facilebio/FacileData
	shallow = true
	registered = true
[submodule "FacileAnalysis"]
	path = FacileAnalysis
	url = https://github.com/facilebio/FacileAnalysis
	shallow = true
	registered = true
